# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices. **This Series should be sorted by a tie-break sort in the format of ("extracted date", "original row number").**

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('assets/dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
import re

def date_sorter():

    pattern = (
        # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        r'(?P<month>\d{1,2})[\/-](?P<day>\d{1,2})[\/-](?P<year>\d{2,4})|'
        # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
        # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
        # Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
        # Feb 2009; Sep 2009; Oct 2010
        r'(?P<day_alt>\d{1,2})?\s?(?P<month_alt>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[.\s,-]?\s?(?P<day_alt2>\d{1,2})?[a-z]*[.,\s-]?\s?(?P<year_alt>\d{2,4})|'
        # 6/2008; 12/2009
        # 2009; 2010
        r'(?P<month_slash>\d{1,2})?[\/-]?(?P<year_only>\d{4})'
    )

    # YOUR CODE HERE
    #raise NotImplementedError()

    # Extract date components
    order = df.astype(str).str.extract(pattern)

    # Fill missing values from alternative regex groups
    order['month'] = order['month'].fillna(order['month_alt']).fillna(order['month_slash'])
    order['day'] = order['day'].fillna(order['day_alt']).fillna(order['day_alt2'])
    order['year'] = order['year'].fillna(order['year_alt']).fillna(order['year_only'])

    # Convert month names to numbers
    month_map = {
        'January': '01', 'February': '02', 'March': '03', 'April': '04',
        'May': '05', 'June': '06', 'July': '07', 'August': '08',
        'September': '09', 'October': '10', 'November': '11', 'December': '12',
        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
        'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }
    order['month'] = order['month'].replace(month_map)

    # Convert two-digit years to four-digit (assuming 1900s for values < 25)
    order['year'] = order['year'].astype(str).apply(lambda x: f'20{x}' if len(x) == 2 and int(x) < 25 else (f'19{x}' if len(x) == 2 else x))

    # Fill NaN values with empty strings
    order['month'] = order['month'].fillna('1')
    order['day'] = order['day'].fillna('1')
    
    # Concat Columns
    order['combined'] = order[['month', 'day', 'year']].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
    order = order[['combined']]

    return order

In [3]:
order = date_sorter()

formatted_dates = order.apply(lambda row: ' '.join(row.dropna()), axis=1)
print("\n".join(formatted_dates))

03-25-1993
6-18-1985
7-8-1971
9-27-1975
2-6-1996
7-06-1979
5-18-1978
10-24-1989
3-7-1986
4-10-1971
5-11-1985
4-09-1975
8-01-1998
1-26-1972
5-24-1990
1-25-2011
4-12-1982
10-13-1976
4-24-1998
5-21-1977
7-21-1998
10-21-1979
3-03-1990
2-11-1976
07-25-1984
4-13-1982
9-22-1989
9-02-1976
9-12-1971
10-24-1986
03-31-1985
7-20-1972
4-12-1987
06-20-1991
5-12-2012
3-15-1983
2-14-1973
5-24-1988
7-27-1986
1-14-1981
7-29-1975
6-24-1987
8-14-1994
4-13-2002
8-16-1982
2-15-1998
7-15-1991
06-12-1994
9-17-1984
2-28-1975
11-22-1975
5-24-1991
6-13-1992
7-11-1971
12-26-1986
10-11-1987
3-14-1995
12-01-1973
12-5-2010
08-20-1982
7-24-1995
8-06-1983
02-22-1992
6-28-1987
07-29-1994
08-11-1978
10-29-1991
7-6-1991
1-21-1987
11-3-1985
7-04-1982
4-13-1989
7-11-1977
4-12-1974
09-19-1981
9-6-1979
12-5-1987
01-05-1999
4-22-1980
10-04-1998
6-29-1981
8-04-1978
7-07-1974
09-14-2000
5-18-1971
8-09-1981
6-05-1993
8-9-1997
12-8-1982
8-26-1989
10-13-1995
4-19-1991
04-08-2004
9-20-1976
12-08-1990
4-11-1974
7-18-1986
3-31-1991
5-13-1972
11-14-1983
8-16-1992
10-05-1997
07-18-2002
9-22-1982
2-24-1974
2-03-1978
2-11-2006
8-22-1983
5-04-1974
7-20-2011
6-17-1995
6-10-1972
10-16-1982
12-15-1992
12-8-1997
4-05-1989
12-04-1987
6-20-1977
4-27-2006
07-17-1992
12-22-1998
10-02-1996
11-05-1990
5-04-1977
2-27-1996
01-24-2001
09-10-2004
05-26-1982
06-28-2002
05-06-1972
10-25-1987
10-14-1996
11-30-2007
06-28-1994
01-14-1981
10-10-1985
02-11-1985
02-10-1983
02-05-1992
10-21-2012
02-14-1995
05-30-2016
01-22-1996
10-14-1992
10-06-2003
10-18-1999
11-11-2004
05-30-2001
02-02-1978
09-09-1989
03-12-1980
06-22-1990
09-28-2015
01-13-1972
03-06-1974
10-10-1974
05-26-1974
02-10-1990
08-23-2000
05-26-2001
10-21-2007
10-19-2016
03-05-1974
01-29-1994
10-21-1978
08-18-1975
11-11-1996
10-01-1979
10-13-1986
10-21-1995
01-24-2011
10-04-1972
08-23-1993
10-18-2006
12-04-1988
10-21-1983
05-26-2010
01-18-1990
06-15-1985
12-10-1982
12-09-1988
08-18-1995
06-13-1974
05-26-2008
11-11-2002
08-17-1985
10-13-2016
01-14-2008
03-12-2004
10-21-1977
08-10-2000
11-30-1972
05-06-1993
01-18-1995
04-11-1990
05-30-2001
02-18-1994
02-18-1981
10-11-2013
01-24-1986
07-26-1978
12-23-1999
05-15-1989
09-06-1995
03-10-1976
01-27-1983
10-23-1990
08-12-2004
09-01-2012
07-25-1983
08-11-1989
04-17-1992
07-24-1999
07-11-1997
09-10-1974
08-14-1981
11-11-1988
06-13-2011
05-14-1989
12-14-1975
06-25-2012
10-18-1980
05-15-1998
10-14-1974
07-25-1998
06-15-1972
01-07-1991
09-15-2011
09-19-1985
06-20-2011
05-19-1986
05-20-2016
07-19-1977
07-19-1990
07-20-2003
10-20-2015
05-19-1995
02-19-1976
01-19-1995
02-19-1978
05-20-2011
05-20-2004
11-20-2010
09-20-2012
01-20-2013
11-19-1990
07-19-1981
05-19-1983
07-19-1995
04-19-1993
05-20-2005
12-19-1998
01-20-2007
02-20-2016
08-19-1979
10-20-2014
08-19-1988
09-20-2015
04-19-1976
11-19-1979
02-20-2000
10-19-1986
06-20-2002
09-19-1981
06-20-2007
04-19-1989
09-19-1999
10-19-1980
12-20-2009
07-19-1992
05-20-2006
10-1-7787
02-19-1993
02-20-2010
04-19-1985
09-19-1984
04-19-1986
04-20-2007
09-19-1974
09-20-2013
07-19-1985
08-20-2004
05-20-2012
02-19-1977
01-19-1987
09-19-1983
01-20-2013
03-20-2010
08-20-2009
09-20-2007
12-20-2011
01-20-2004
11-19-1995
09-20-2008
02-19-1983
03-19-1983
08-19-1979
01-20-2009
01-19-1993
03-19-1974
01-19-1994
12-19-1992
11-20-2004
01-19-1977
03-20-2002
02-20-2000
05-20-2004
07-20-2006
02-19-1994
04-19-1977
10-19-1992
02-19-1995
02-19-1989
12-19-1978
01-20-2007
06-19-1976
05-20-2011
03-19-1975
01-19-1978
07-19-1975
11-20-2012
06-2-1999
10-19-1991
03-19-1973
10-19-1996
06-20-2007
10-19-1995
04-19-1999
05-20-2001
03-20-2000
04-19-1988
12-19-1993
06-19-1974
11-19-1997
07-19-1986
02-19-1973
03-19-1978
12-20-2007
04-19-1998
03-20-2005
05-19-1980
11-20-2007
03-19-1976
6-1-1998
6-1-2005
10-1-1973
9-1-2005
03-1-1980
12-1-2005
5-1-1987
5-1-2004
8-1-1974
3-1-1986
10-1-1997
3-1-1993
3-1-1981
9-1-2003
10-1-1993
1-1-1983
7-1-1994
12-1-2008
10-1-1980
8-1-2003
12-1-1975
11-1-2010
7-1-1997
7-1-2014
9-1-2001
8-1-1986
1-1-1978
9-1-1975
1-1-2009
5-1-1995
8-1-1989
11-1-2000
06-1-1973
2-1-1999
6-1-2001
12-1-1978
8-1-2009
7-1-1973
1-1-2014
09-1-1975
12-1-2012
5-1-1999
7-1-1989
7-1-2009
11-1-1998
3-1-1995
2-1-2009
08-1-1988
4-1-2007
5-1-2000
4-1-2012
10-1-2001
2-1-1977
8-1-2008
2-1-1983
5-1-1979
1-1-1992
11-1-2008
12-1-2014
4-1-1974
10-1-1981
10-1-1986
03-1-1973
12-1-1994
8-1-1999
10-1-2010
10-1-1994
01-1-2007
8-1-2010
03-1-1990
11-1-2016
4-1-2004
2-1-1973
7-1-1987
8-1-2000
8-1-1975
5-1-1977
3-1-2000
9-1-1984
4-1-1973
12-1-1986
4-1-1979
7-1-2004
11-1-1984
5-1-2016
12-1-2007
11-1-1982
06-1-1981
4-1-2013
4-1-1999
5-1-2006
10-1-1978
12-1-1989
2-1-1974
11-1-1986
4-1-1983
10-1-2014
6-1-1989
9-1-1980
9-1-1992
9-1-2000
7-1-1981
1-1-2008
4-1-2002
7-1-1985
5-1-2010
8-1-2002
1-1-1994
12-1-2004
3-1-2003
7-1-1991
7-1-1982
1-1-1984
1-1-2000
1-1-2001
1-1-1982
1-1-1998
1-1-2012
1-1-1991
1-1-1988
1-1-2014
1-1-2016
1-1-1976
1-1-1981
1-1-2011
1-1-1997
1-1-2003
1-1-1983
1-1-1999
1-1-2010
1-1-1975
1-1-1972
1-1-2015
1-1-1989
1-1-1994
1-1-1993
1-1-1996
1-1-2013
1-1-1974
1-1-1990
1-1-1995
1-1-2004
1-1-1987
1-1-1973
1-1-1992
1-1-1977
1-1-1985
1-1-2007
1-1-2009
1-1-1986
1-1-1978
1-1-2002
1-1-1979
1-1-2006
1-1-2008
1-1-2005
1-1-1980

In [4]:
order

       combined
0    03-25-1993
1     6-18-1985
2      7-8-1971
3     9-27-1975
4      2-6-1996
..          ...
495    1-1-1979
496    1-1-2006
497    1-1-2008
498    1-1-2005
499    1-1-1980

[500 rows x 1 columns]