# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices. **This Series should be sorted by a tie-break sort in the format of ("extracted date", "original row number").**

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('assets/dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
def date_sorter():
    pattern = (
        r'(\d{1,2})(/)(\d{1,2})(/)(\d{2,4})|' # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        r'([A-Za-z]{3,})[. ]*-?[, ]*(\d{1,2})[., ]*-?[, ]*(\d{2,4})|' # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009
        r'(\d{1,2})\s+([A-Za-z]{3,})[., ]*(\d{2,4})|' # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
        r'([A-Za-z]{3,})\s+(\d{1,2})(?:th|st|nd|rd)?\s*,?\s*(\d{2,4})|' # Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
        r'([A-Za-z]{3})\s+(\d{4})|'# Feb 2009; Sep 2009; Oct 2010
    )
    # YOUR CODE HERE
    #raise NotImplementedError()
    order = df.str.extract(pattern)  
    return order # Your answer here

In [3]:
order = date_sorter()

formatted_dates = order.apply(lambda row: ' '.join(row.dropna()), axis=1)
print("\n".join(formatted_dates))

03 / 25 / 93
6 / 18 / 85


2 / 6 / 96


10 / 24 / 89
3 / 7 / 86


4 / 09 / 75
8 / 01 / 98
1 / 26 / 72
5 / 24 / 1990
1 / 25 / 2011
4 / 12 / 82



7 / 21 / 98
10 / 21 / 79
3 / 03 / 90
2 / 11 / 76
07 / 25 / 1984

9 / 22 / 89
9 / 02 / 76
9 / 12 / 71
10 / 24 / 86
03 / 31 / 1985
7 / 20 / 72
4 / 12 / 87
06 / 20 / 91
5 / 12 / 2012
3 / 15 / 83
2 / 14 / 73
5 / 24 / 88
7 / 27 / 1986



8 / 14 / 94
4 / 13 / 2002
8 / 16 / 82
2 / 15 / 1998
7 / 15 / 91
06 / 12 / 94
9 / 17 / 84
2 / 28 / 75


6 / 13 / 92
7 / 11 / 71
12 / 26 / 86
10 / 11 / 1987
3 / 14 / 95
12 / 01 / 73

08 / 20 / 1982
7 / 24 / 95
8 / 06 / 83
02 / 22 / 92
6 / 28 / 87
07 / 29 / 1994
08 / 11 / 78
10 / 29 / 91
7 / 6 / 91


7 / 04 / 82

Lithium 0 25
4 / 12 / 74
09 / 19 / 81
9 / 6 / 79
12 / 5 / 87
01 / 05 / 1999
4 / 22 / 80
10 / 04 / 98



09 / 14 / 2000
5 / 18 / 71
8 / 09 / 1981
6 / 05 / 93

12 / 8 / 82
8 / 26 / 89
10 / 13 / 95
4 / 19 / 91

9 / 20 / 76
12 / 08 / 1990
4 / 11 / 1974
7 / 18 / 86
3 / 31 / 91
5 / 13 / 72

8 / 16 / 92
10 / 05 / 97
07 / 18 / 2002
9 / 22 / 82
2 / 24 / 74

2 / 11 / 2006


7 / 20 / 2011
6 / 17 / 95
6 / 10 / 72

12 / 15 / 92
12 / 8 / 97
4 / 05 / 89
12 / 04 / 87


07 / 17 / 92
12 / 22 / 98
10 / 02 / 96
11 / 05 / 90
5 / 04 / 77
2 / 27 / 96




06 May 1972
25 Oct 1987
14 Oct 1996
30 Nov 2007

14 Jan 1981

11 February 1985



14 Feb 1995
30 May 2016
22 Jan 1996
14 Oct 1992

18 Oct 1999
11 Nov 2004
30 May 2001

09 Sep 1989
12 March 1980
22 June 1990
28 Sep 2015
13 Jan 1972
06 Mar 1974
10 Oct 1974
26 May 1974

23 Aug 2000


19 Oct 2016

29 Jan 1994


11 Nov 1996
01 Oct 1979



04 Oct 1972

18 Oct 2006




15 Jun 1985


18 August 1995


11 Nov 2002

13 Oct 2016
14 Jan 2008
12 March 2004


30 Nov 1972
06 May 1993

April 11 1990





July 26 1978

May 15 1989
September 06 1995
Mar 10 1976



September 01 2012
July 25 1983
August 11 1989
April 17 1992

July 11 1997


Nov 11 1988

May 14 1989


Oct 18 1980
May 15 1998

July 25 1998
June 15 1972

September 15 2011







pOct 20 15









lNovember 19 90





December 19 98




IAug 19 88









September 19 99



May 20 06





April 19 86




yAug 20 04

AFeb 19 77

sSep 19 83








February 19 83




March 19 74






May 20 04


























sNovember 19 97


sOcella 0 03























































TSH 0 67


































































sSince 19 98