# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices. **This Series should be sorted by a tie-break sort in the format of ("extracted date", "original row number").**

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('assets/dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
import re

def date_sorter():

    pattern = (
        # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
        r'(?P<month>\d{1,2})[\/-](?P<day>\d{1,2})[\/-](?P<year>\d{2,4})|'
        # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
        # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
        # Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
        # Feb 2009; Sep 2009; Oct 2010
        r'(?P<day_alt>\d{1,2})?\s?(?P<month_alt>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[.\s,-]?\s?(?P<day_alt2>\d{1,2})?[a-z]*[.,\s-]?\s?(?P<year_alt>\d{2,4})|'
        # 6/2008; 12/2009
        # 2009; 2010
        r'(?P<month_slash>\d{1,2})?[\/-]?(?P<year_only>\d{4})'
    )

    # YOUR CODE HERE
    #raise NotImplementedError()

    # Extract date components
    extracted = df.astype(str).str.extract(pattern)

    # Fill missing values from alternative regex groups
    extracted['month'] = extracted['month'].fillna(extracted['month_alt']).fillna(extracted['month_slash'])
    extracted['day'] = extracted['day'].fillna(extracted['day_alt']).fillna(extracted['day_alt2'])
    extracted['year'] = extracted['year'].fillna(extracted['year_alt']).fillna(extracted['year_only'])

    return extracted

In [3]:
order = date_sorter()

formatted_dates = order.apply(lambda row: ' '.join(row.dropna()), axis=1)
print("\n".join(formatted_dates))

03 25 93
6 18 85
7 8 71
9 27 75
2 6 96
7 06 79
5 18 78
10 24 89
3 7 86
4 10 71
5 11 85
4 09 75
8 01 98
1 26 72
5 24 1990
1 25 2011
4 12 82
10 13 1976
4 24 98
5 21 77
7 21 98
10 21 79
3 03 90
2 11 76
07 25 1984
4 13 82
9 22 89
9 02 76
9 12 71
10 24 86
03 31 1985
7 20 72
4 12 87
06 20 91
5 12 2012
3 15 83
2 14 73
5 24 88
7 27 1986
1 14 81
7 29 75
6 24 87
8 14 94
4 13 2002
8 16 82
2 15 1998
7 15 91
06 12 94
9 17 84
2 28 75
11 22 75
5 24 91
6 13 92
7 11 71
12 26 86
10 11 1987
3 14 95
12 01 73
12 5 2010
08 20 1982
7 24 95
8 06 83
02 22 92
6 28 87
07 29 1994
08 11 78
10 29 91
7 6 91
1 21 87
11 3 1985
7 04 82
4 13 89
7 11 77
4 12 74
09 19 81
9 6 79
12 5 87
01 05 1999
4 22 80
10 04 98
6 29 81
8 04 78
7 07 1974
09 14 2000
5 18 71
8 09 1981
6 05 93
8 9 97
12 8 82
8 26 89
10 13 95
4 19 91
04 08 2004
9 20 76
12 08 1990
4 11 1974
7 18 86
3 31 91
5 13 72
11 14 83
8 16 92
10 05 97
07 18 2002
9 22 82
2 24 74
2 03 78
2 11 2006
8 22 83
5 04 74
7 20 2011
6 17 95
6 10 72
10 16 82
12 15 92
12 8 97
4 05 89
12 04 87
6 20 77
4 27 2006
07 17 92
12 22 98
10 02 96
11 05 90
5 04 77
2 27 96
Jan 24 01 24 Jan 20 01
Sep 10 04 10 Sep 20 04
May 26 82 26 May 19 82
Jun 28 02 28 Jun 20 02
May 06 72 06 May 19 72
Oct 25 87 25 Oct 19 87
Oct 14 96 14 Oct 19 96
Nov 30 07 30 Nov 20 07
Jun 28 94 28 Jun 19 94
Jan 14 81 14 Jan 19 81
Oct 10 85 10 Oct 19 85
Feb 11 85 11 Feb 19 85
Feb 10 83 10 Feb 19 83
Feb 05 92 05 Feb 19 92
Oct 21 12 21 Oct 20 12
Feb 14 95 14 Feb 19 95
May 30 16 30 May 20 16
Jan 22 96 22 Jan 19 96
Oct 14 92 14 Oct 19 92
Oct 06 03 06 Oct 20 03
Oct 18 99 18 Oct 19 99
Nov 11 04 11 Nov 20 04
May 30 01 30 May 20 01
Feb 02 78 02 Feb 19 78
Sep 09 89 09 Sep 19 89
Mar 12 80 12 Mar 19 80
Jun 22 90 22 Jun 19 90
Sep 28 15 28 Sep 20 15
Jan 13 72 13 Jan 19 72
Mar 06 74 06 Mar 19 74
Oct 10 74 10 Oct 19 74
May 26 74 26 May 19 74
Feb 10 90 10 Feb 19 90
Aug 23 00 23 Aug 20 00
May 26 01 26 May 20 01
Oct 21 07 21 Oct 20 07
Oct 19 16 19 Oct 20 16
Mar 05 74 05 Mar 19 74
Jan 29 94 29 Jan 19 94
Oct 21 78 21 Oct 19 78
Aug 18 75 18 Aug 19 75
Nov 11 96 11 Nov 19 96
Oct 01 79 01 Oct 19 79
Oct 13 86 13 Oct 19 86
Oct 21 95 21 Oct 19 95
Jan 24 11 24 Jan 20 11
Oct 04 72 04 Oct 19 72
Aug 23 93 23 Aug 19 93
Oct 18 06 18 Oct 20 06
Dec 04 88 04 Dec 19 88
Oct 21 83 21 Oct 19 83
May 26 10 26 May 20 10
Jan 18 90 18 Jan 19 90
Jun 15 85 15 Jun 19 85
Dec 10 82 10 Dec 19 82
Dec 09 88 09 Dec 19 88
Aug 18 95 18 Aug 19 95
Jun 13 74 13 Jun 19 74
May 26 08 26 May 20 08
Nov 11 02 11 Nov 20 02
Aug 17 85 17 Aug 19 85
Oct 13 16 13 Oct 20 16
Jan 14 08 14 Jan 20 08
Mar 12 04 12 Mar 20 04
Oct 21 77 21 Oct 19 77
Aug 10 00 10 Aug 20 00
Nov 30 72 30 Nov 19 72
May 06 93 06 May 19 93
Jan 18 95 18 Jan 19 95
Apr 11 1990 Apr 11 1990
May 30 2001 May 30 2001
Feb 18 1994 Feb 18 1994
Feb 18 1981 Feb 18 1981
Oct 11 2013 Oct 11 2013
Jan 24 1986 Jan 24 1986
Jul 26 1978 Jul 26 1978
Dec 23 1999 Dec 23 1999
May 15 1989 May 15 1989
Sep 06 1995 Sep 06 1995
Mar 10 1976 Mar 10 1976
Jan 27 1983 Jan 27 1983
Oct 23 1990 Oct 23 1990
Aug 12 2004 Aug 12 2004
Sep 01 2012 Sep 01 2012
Jul 25 1983 Jul 25 1983
Aug 11 1989 Aug 11 1989
Apr 17 1992 Apr 17 1992
Jul 24 1999 Jul 24 1999
Jul 11 1997 Jul 11 1997
Sep 10 1974 Sep 10 1974
Aug 14 1981 Aug 14 1981
Nov 11 1988 Nov 11 1988
Jun 13 2011 Jun 13 2011
May 14 1989 May 14 1989
Dec 14 1975 Dec 14 1975
Jun 25 2012 Jun 25 2012
Oct 18 1980 Oct 18 1980
May 15 1998 May 15 1998
Oct 14 1974 Oct 14 1974
Jul 25 1998 Jul 25 1998
Jun 15 1972 Jun 15 1972
Jan 07 1991 Jan 07 1991
Sep 15 2011 Sep 15 2011
Sep 19 85 Sep 19 85
Jun 20 11 Jun 20 11
May 19 86 May 19 86
May 20 16 May 20 16
Jul 19 77 Jul 19 77
Jul 19 90 Jul 19 90
Jul 20 03 Jul 20 03
Oct 20 15 Oct 20 15
May 19 95 May 19 95
Feb 19 76 Feb 19 76
Jan 19 95 Jan 19 95
Feb 19 78 Feb 19 78
May 20 11 May 20 11
May 20 04 May 20 04
Nov 20 10 Nov 20 10
Sep 20 12 Sep 20 12
Jan 20 13 Jan 20 13
Nov 19 90 Nov 19 90
Jul 19 81 Jul 19 81
May 19 83 May 19 83
Jul 19 95 Jul 19 95
Apr 19 93 Apr 19 93
May 20 05 May 20 05
Dec 19 98 Dec 19 98
Jan 20 07 Jan 20 07
Feb 20 16 Feb 20 16
Aug 19 79 Aug 19 79
Oct 20 14 Oct 20 14
Aug 19 88 Aug 19 88
Sep 20 15 Sep 20 15
Apr 19 76 Apr 19 76
Nov 19 79 Nov 19 79
Feb 20 00 Feb 20 00
Oct 19 86 Oct 19 86
Jun 20 02 Jun 20 02
Sep 19 81 Sep 19 81
Jun 20 07 Jun 20 07
Apr 19 89 Apr 19 89
Sep 19 99 Sep 19 99
Oct 19 80 Oct 19 80
Dec 20 09 Dec 20 09
Jul 19 92 Jul 19 92
May 20 06 May 20 06
10 7787 10 7787
Feb 19 93 Feb 19 93
Feb 20 10 Feb 20 10
Apr 19 85 Apr 19 85
Sep 19 84 Sep 19 84
Apr 19 86 Apr 19 86
Apr 20 07 Apr 20 07
Sep 19 74 Sep 19 74
Sep 20 13 Sep 20 13
Jul 19 85 Jul 19 85
Aug 20 04 Aug 20 04
May 20 12 May 20 12
Feb 19 77 Feb 19 77
Jan 19 87 Jan 19 87
Sep 19 83 Sep 19 83
Jan 20 13 Jan 20 13
Mar 20 10 Mar 20 10
Aug 20 09 Aug 20 09
Sep 20 07 Sep 20 07
Dec 20 11 Dec 20 11
Jan 20 04 Jan 20 04
Nov 19 95 Nov 19 95
Sep 20 08 Sep 20 08
Feb 19 83 Feb 19 83
Mar 19 83 Mar 19 83
Aug 19 79 Aug 19 79
Jan 20 09 Jan 20 09
Jan 19 93 Jan 19 93
Mar 19 74 Mar 19 74
Jan 19 94 Jan 19 94
Dec 19 92 Dec 19 92
Nov 20 04 Nov 20 04
Jan 19 77 Jan 19 77
Mar 20 02 Mar 20 02
Feb 20 00 Feb 20 00
May 20 04 May 20 04
Jul 20 06 Jul 20 06
Feb 19 94 Feb 19 94
Apr 19 77 Apr 19 77
Oct 19 92 Oct 19 92
Feb 19 95 Feb 19 95
Feb 19 89 Feb 19 89
Dec 19 78 Dec 19 78
Jan 20 07 Jan 20 07
Jun 19 76 Jun 19 76
May 20 11 May 20 11
Mar 19 75 Mar 19 75
Jan 19 78 Jan 19 78
Jul 19 75 Jul 19 75
Nov 20 12 Nov 20 12
Jun 2 99 2 Jun 19 99
Oct 19 91 Oct 19 91
Mar 19 73 Mar 19 73
Oct 19 96 Oct 19 96
Jun 20 07 Jun 20 07
Oct 19 95 Oct 19 95
Apr 19 99 Apr 19 99
May 20 01 May 20 01
Mar 20 00 Mar 20 00
Apr 19 88 Apr 19 88
Dec 19 93 Dec 19 93
Jun 19 74 Jun 19 74
Nov 19 97 Nov 19 97
Jul 19 86 Jul 19 86
Feb 19 73 Feb 19 73
Mar 19 78 Mar 19 78
Dec 20 07 Dec 20 07
Apr 19 98 Apr 19 98
Mar 20 05 Mar 20 05
May 19 80 May 19 80
Nov 20 07 Nov 20 07
Mar 19 76 Mar 19 76
6 1998 6 1998
6 2005 6 2005
10 1973 10 1973
9 2005 9 2005
03 1980 03 1980
12 2005 12 2005
5 1987 5 1987
5 2004 5 2004
8 1974 8 1974
3 1986 3 1986
10 1997 10 1997
3 1993 3 1993
3 1981 3 1981
9 2003 9 2003
10 1993 10 1993
1 1983 1 1983
7 1994 7 1994
12 2008 12 2008
10 1980 10 1980
8 2003 8 2003
12 1975 12 1975
11 2010 11 2010
7 1997 7 1997
7 2014 7 2014
9 2001 9 2001
8 1986 8 1986
1 1978 1 1978
9 1975 9 1975
1 2009 1 2009
5 1995 5 1995
8 1989 8 1989
11 2000 11 2000
06 1973 06 1973
2 1999 2 1999
6 2001 6 2001
12 1978 12 1978
8 2009 8 2009
7 1973 7 1973
1 2014 1 2014
09 1975 09 1975
12 2012 12 2012
5 1999 5 1999
7 1989 7 1989
7 2009 7 2009
11 1998 11 1998
3 1995 3 1995
2 2009 2 2009
08 1988 08 1988
4 2007 4 2007
5 2000 5 2000
4 2012 4 2012
10 2001 10 2001
2 1977 2 1977
8 2008 8 2008
2 1983 2 1983
5 1979 5 1979
1 1992 1 1992
11 2008 11 2008
12 2014 12 2014
4 1974 4 1974
10 1981 10 1981
10 1986 10 1986
03 1973 03 1973
12 1994 12 1994
8 1999 8 1999
10 2010 10 2010
10 1994 10 1994
01 2007 01 2007
8 2010 8 2010
03 1990 03 1990
11 2016 11 2016
4 2004 4 2004
2 1973 2 1973
7 1987 7 1987
8 2000 8 2000
8 1975 8 1975
5 1977 5 1977
3 2000 3 2000
9 1984 9 1984
4 1973 4 1973
12 1986 12 1986
4 1979 4 1979
7 2004 7 2004
11 1984 11 1984
5 2016 5 2016
12 2007 12 2007
11 1982 11 1982
06 1981 06 1981
4 2013 4 2013
4 1999 4 1999
5 2006 5 2006
10 1978 10 1978
12 1989 12 1989
2 1974 2 1974
11 1986 11 1986
4 1983 4 1983
10 2014 10 2014
6 1989 6 1989
9 1980 9 1980
9 1992 9 1992
9 2000 9 2000
7 1981 7 1981
1 2008 1 2008
4 2002 4 2002
7 1985 7 1985
5 2010 5 2010
8 2002 8 2002
1 1994 1 1994
12 2004 12 2004
3 2003 3 2003
7 1991 7 1991
7 1982 7 1982
1984 1984
2000 2000
2001 2001
1982 1982
1998 1998
2012 2012
1991 1991
1988 1988
2014 2014
2016 2016
1976 1976
1981 1981
2011 2011
1997 1997
2003 2003
1983 1983
1999 1999
2010 2010
1975 1975
1972 1972
2015 2015
1989 1989
1994 1994
1993 1993
1996 1996
2013 2013
1974 1974
1990 1990
1995 1995
2004 2004
1987 1987
1973 1973
1992 1992
1977 1977
1985 1985
2007 2007
2009 2009
1986 1986
1978 1978
2002 2002
1979 1979
2006 2006
2008 2008
2005 2005
1980 1980